.App-header {
  min-height: 1.5em;
  width:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(1em + 2vmin);
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgb(174, 229, 192);
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding:1em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.ticketBody{
  color:black;
  align-items: center;
  justify-content: center;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
